:root {
	--backgroundColor: var(--dark-grey);
	--textColor: var(--pink);
	--hoverBackgroundColor: var(--dark-pink);
	--hoverTextColor: var(--dark-grey);
}

.invert {
	--backgroundColor: var(--dark-pink);
	--textColor: var(--dark-grey);
	--hoverBackgroundColor: var(--dark-grey);
	--hoverTextColor: var(--pink);
}

.button {
	background-color: var(--backgroundColor);
	text-transform: uppercase;
	color: var(--textColor);
	padding: 0.75rem 2rem;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color 200ms, color 200ms;
}

.button:hover,
.button:focus {
	background-color: var(--hoverBackgroundColor);
	color: var(--hoverTextColor);
}
