.card {
	height: auto;
	border: 2px solid var(--dark-pink);
	padding: 2rem;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: clamp(15px, 2vw, 26px);
	font-weight: 400;
}

.price {
	font-size: clamp(18px, 5vw, 40px);
	font-weight: 500;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 4rem 0rem;
}

.content p {
	font-size: 18px;
	font-weight: 500;
}

.list {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	gap: 10px;
}

.actions {
	display: flex;
	flex-direction: column;
}

@media (max-width: 991px) {
	.list {
		padding-left: 0rem;
	}
}
