:root {
	--pink: #f8f0ed;
	--dark-pink: #c8a48c;
	--dark-grey: #222222;
}

body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

* {
	box-sizing: border-box;
	margin: 0rem;
	padding: 0rem;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

h1 {
	font-family: 'Halant', serif;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

audio,
canvas,
progress,
video {
	vertical-align: baseline;
	display: inline-block;
}

video {
	object-fit: contain;
	overflow-clip-margin: content-box;
	overflow: clip;
}

section {
	overflow: hidden;
	z-index: 2;
	position: relative;
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
	border: 0;
}

.inner-content {
	max-width: 1400px;
	height: auto;
	width: 100%;
	padding: 4rem 0rem;
	display: flex;
	align-items: center;
}
