.header {
	background-color: var(--pink);
	padding: 1rem;
	position: fixed;
	width: 100vw;
	display: flex;
	justify-content: center;
	z-index: 997;
	top: 0;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo-wrapper {
	width: 200px;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hamburger {
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	outline: none;
	border: none;
	background: transparent;
}

.hamburger-line {
	height: 2px;
	width: 100%;
	display: block;
	background-color: var(--dark-grey);
	transition: background-color 200ms;
}

.hamburger:focus .hamburger-line,
.hamburger:hover .hamburger-line {
	background-color: var(--dark-pink);
}

@media (max-width: 479px) {
	.logo-wrapper {
		width: 150px;
	}
}
